@*@model IQueryable<SportsStore.Models.Product>
    Bu şekildeki kullanımda Model.Count sonucunda veri tabanından select count(*) from product sorgusu çekilir. Bu da performansı artırır. Çünkü @model IEnumerable<SportsStore.Models.Product> kullanımındaki Model.Count sorgusu  SELECT [p].[Id], [p].[Category], [p].[Name], [p].[PurchasePrice], [p].[RetailPrice]
      FROM [Product] AS [p] olur. Daha sonra her bir kayıt sayılarak sonuç döndürülür. Yani performansı düşürür.
*@

@model IEnumerable<SportsStore.Models.Product>
@*Burada ikinci bir sorguyu önlemek için repositoryden DbSet<T> yerine array sınıfını döndürdük*@
@{ ViewData["Title"] = "Index";}
<h2>Product List</h2>
<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<div class="text-center">
    @Html.Partial("_PagesPartial", Model)
    @{
        ViewBag.searches = new string[] { "Name", "Category.Name" };
        ViewBag.sorts = new string[] { "Name", "Category.Name", "PurchasePrice", "RetailPrice" };
    }
    @Html.Partial("_PageOptionPartial", Model)
</div>
<div class="form-border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailPrice)
                    </td>
                    @Html.Partial("_TableButtonPartial", item.Id)
                </tr>
            }
        </tbody>
    </table>
</div>