@model IEnumerable<DataApp.Models.Supplier>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="form-border">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.City)</th>
                    <th>@Html.DisplayNameFor(m => m.State)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.State)
                        </td>
                    </tr>
                    @if (item.Products != null)
                    {
                        foreach (var p in item.Products)
                        {
                            <tr class="table-dark">
                                <td>@p.Name</td>
                                <td>@p.Category</td>
                                <td>@p.Price</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
